@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,200;0,300;1,400;1,500&display=swap");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

/*header start*/
.header {
    background-color: #121618;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 55px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.header_item {
    margin-right: 82px;
    list-style-type: none;

}

.header_link {
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
    color: #f7a712;
    opacity: .75;
}

.header_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header_logo_link {
    display: flex;
    padding: 0;

}

.logo_pizza {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    width: 50px;
    padding: 0;
}

.logo_delicous {
    font-size: 12px;
    color: #FAC564;
    text-transform: uppercase;
    width: 200px;
    padding: 0;
}

/*header end*/

/* main start */
.main_contacts{
    padding-top: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.main_contacts_form{
    background-color: #121618;
}
.map_contacts{
width: 100%;

}
.contacts_title{
    padding-left: 60px;
    padding-top: 50px;
    /* font-family: 'Josefin+Sans'; */
    letter-spacing: 0.1rem;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-left: 60px;
    padding-right: 180px;
}

.form_group{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid gray;
}
.form_group input::placeholder{
    color: white;
}

.form_group textarea::placeholder{
    color: white;
    font-size: 15px;
}

input:valid {
    border: 1px solid #c6ced4;
}


input:invalid {
    border: 1px solid #FAC564;
}

input, textarea{
    background-color: #121618;
    color: white;
    width: 520px;
    padding: 0.85rem 2rem;
    border: 0;
    padding-left: 0;
}

.btn_contacts{
    background-color: #FAC564;
    width: 80px;
    height: 40px;
    border: 0;
    padding: 10px;
}
.btn_contacts:hover,
.btn_contacts:active,
.btn_contacts:focus{
background-color: #f7a712;
transition: 0.6s;
letter-spacing: 3px;
cursor: pointer;
}
.contacts_button{
    padding-left: 60px;
    padding-top: 10px;
}
/* main end */

/*footer styles start*/

.footer {
    background: #121618;
    padding: 50px 0px;
}

.footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.footer_head {
    color: white;
    padding-bottom: 15px;
}

.footer_text_about {
    color: rgb(214, 219, 224);
    width: 150px;
    font-size: 12px;
    line-height: 20px;
}

.footer_icon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.icon_social {
    background-color: #1C1F21;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 50px;
    margin-bottom: 17px;
    align-items: center;
}

.footer_recent_blog1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.footer_text_blog {
    color: aliceblue;
    font-size: 12px;
    width: 170px
}
.footer_recept_blog_text{
    text-decoration: none;
  }
  .footer_recept_blog_text:hover,
  .footer_recept_blog_text:active,
  .footer_recept_blog_text:focus
  {
    color: #c6ced4;
  }
.footer_image {
    width: 80px;
    height: 80px;
    padding: 10px 0px;
}

.footer_data {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 5px;
}

.data_icon {
    width: 10px;
    height: 10px;
}

.footer_data_info {
    display: flex;

}

.footer_data_disc {
    font-size: 10px;
    color: #3F4242;
    margin: 0;
    margin-left: 3px;
}

.footer_text_services {
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 10px;

}

.footer_text_services:hover {
    color: #FAC564;
    font-family: 'Josefin+Sans';
}

.footer_adress {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
}

.adress_icon {
    width: 15px;
    height: 15px;
    align-self: auto;
}

.footer_text_adress {
    width: 150px;
    line-height: 1.2rem;
    font-size: 14px;
    color: aliceblue;
}

.footer_text_adress,
.footer_phone_number,
.footer_email {
    padding-left: 20px;
}

.footer_copyright {
    margin-top: 100px;
    color: #c6ced4;
    font-size: 13px;
    text-align: center;
}

/*footer styles end*/