@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,200;0,300;1,400;1,500&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

/*header start*/
.header {
  background-color: #121618;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

}

.header_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.header_item {
  margin-right: 82px;
  list-style-type: none;

}

.header_link {
  font-size: 20px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  transition: color 0.3s linear;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  color: #f7a712;
  opacity: .75;
}

.header_logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header_logo_link {
  display: flex;
  padding: 0;

}

.header_burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger_line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FAC564;
  position: absolute;
  left: 0;
  padding-right: 15px;
}

.burger_line_first {
  top: 0;
}

.burger_line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger_line_third {
  bottom: 0;
}

.logo_pizza {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  width: 50px;
  padding: 0;
}

.logo_delicous {
  font-size: 12px;
  color: #FAC564;
  text-transform: uppercase;
  width: 200px;
  padding: 0;
}

/*header end*/

/*Intro start*/
.main {
  width: 100%;
}

.intro {
  min-height: 100h;
  background: url(/img/bg_1.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), url("/img/bg_1.jpg"));
  background-size: cover;
  padding-top: 265px;
}

.intro_main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.intro_text {
  font-family: 'Nothing You Could Do', cursive;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  color: #FAC564;
  text-align: right;
}

.intro_title {
  font-family: 'Josefin+Sans';
  color: white;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: right;
  margin: 0 auto;
}

.intro_subtitle {
  color: aliceblue;
  font-size: 16px;
  line-height: 24px;
  max-width: 410px;
  margin-bottom: 60px;
  text-align: right;
  padding: 0;

}

.intro_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  border: none;
}

.order {
  background-color: #FAC564;
  color: brown;
  padding: 15px 40px;
  text-transform: capitalize;
  transition: color 0.3s linear;
}

.view_menu {
  background-color: transparent;
  color: brown;
  padding: 15px 40px;
  text-transform: capitalize;

}

.order:hover,
.order:focus,
.order:active {
  background: #FAC564;
  transition: 0.6s;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.intro_pic {
  width: 500px;
  height: 500px;
}

.order {
  border: none;
  margin-right: 10px;
}

.view_menu {
  color: white;
  border: 1px solid white;
}

.view_menu:hover,
.view_menu:focus,
.view_menu:active {
  background: #FAC564;
  transition: 0.6s;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.intro_new {
  min-height: 100h;
  background: url(/img/bg_3.jpg) no-repeat center;
  background-size: cover;
  width: 1100px;
  height: 600px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.intro_subtitle1 {
  color: aliceblue;
  width: 680px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
  text-align: center;
  padding: 0;
}

/*Intro end*/

/*gallery start*/
.gallery {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/bg_2.jpg');
  background-size: cover;

}

.gallery_wrapper {
  max-width: 1260px;
  margin: 0 auto;
}

.gallery_cards {
  display: grid;
  grid-template-columns: repeat(4, 305px);
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: rgb(209, 237, 237);
  margin: 0 auto;
}

.gallery_pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  padding: 0 20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 17px;
  border: 1px solid #FAC564;
  align-items: center;
}

.price {
  color: #FAC564;
}

.gallery_desc {
  font-size: 12px;
}

/*gallery end*/

/*gallery menu start*/

.gallery_menu {
  min-height: 100vh;
  background: #121618;
}

.gallery_menu_wrapper {
  /* max-width: 1260px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu_about {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu_choose_btns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}

.menu_choose_btns_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu_choose_option {
  margin-right: 30px;
  list-style-type: none;
  text-decoration: none;
  border: 1px solid #FAC564;

}

.gallery_link {
  font-size: 16px;
  line-height: 24px;
  color: #FAC564;
  text-decoration: none;
  padding: 15px;

}

.gallery_link:hover,
.gallery_link:focus,
.gallery_link:active {
  color: #f7a712;
  opacity: .75;
}

.menu_description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 40px;
  text-align: center;
}

.menu_galerry_title {
  padding-top: 10px;
  color: white;
  font-family: 'Josefin Sans';
}

.menu_btn {
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: 1px solid white;
}

.menu_btn:hover,
.menu_btn:active,
.menu_btn:focus {
  background: #FAC564;
  transition: 0.6s;
  letter-spacing: 1px;
  cursor: pointer;
}

.gallery_desc {
  color: rgb(209, 237, 237)
}

/*gallery menu end*/

/*footer styles start*/

.footer {
  background: #121618;
  padding: 50px 0px;
}

.footer_nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.footer_head {
  color: white;
  padding-bottom: 15px;
}

.footer_text_about {
  color: rgb(214, 219, 224);
  width: 150px;
  font-size: 12px;
  line-height: 20px;
}

.footer_icon {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.icon_social {
  background-color: #1C1F21;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 50px;
  margin-bottom: 17px;
  align-items: center;
}

.footer_recent_blog1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.footer_text_blog {
  color: aliceblue;
  font-size: 12px;
  width: 170px
}

.footer_recept_blog_text {
  text-decoration: none;
}

.footer_recept_blog_text:hover,
.footer_recept_blog_text:active,
.footer_recept_blog_text:focus {
  color: #c6ced4;
}

.footer_image {
  width: 80px;
  height: 80px;
  padding: 10px 0px;
}

.footer_data {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  gap: 5px;
}

.data_icon {
  width: 10px;
  height: 10px;
}

.footer_data_info {
  display: flex;

}

.footer_data_disc {
  font-size: 10px;
  color: #3F4242;
  margin: 0;
  margin-left: 3px;
}

.footer_text_services {
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 10px;

}

.footer_text_services:hover {
  color: #FAC564;
  font-family: 'Josefin+Sans';
}

.footer_adress {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
}

.adress_icon {
  width: 15px;
  height: 15px;
  align-self: auto;
}

.footer_text_adress {
  width: 150px;
  line-height: 1.2rem;
  font-size: 14px;
  color: aliceblue;
}

.footer_text_adress,
.footer_phone_number,
.footer_email {
  padding-left: 20px;
}

.footer_copyright {
  margin-top: 100px;
  color: #c6ced4;
  font-size: 13px;
  text-align: center;
}

/*footer styles end*/

/* media start */
@media screen and (max-width:1220px) {
  .header {
    max-width: 1024px;
    padding: 0 50px;
  }

  .gallery_cards {
    grid-template-columns: repeat(4, 256px);
  }
}

@media screen and (max-width:1110px) {
  .header_logo {
    justify-content: flex-start;
    align-items: center;

  }

  .intro_pic {
    width: 400px;
    height: 400px;
    justify-content: space-evenly;

  }

  .header_item {
    margin: 10px;
    padding: 10px;
    padding-inline-start: 10px;
  }

  .gallery_cards {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgb(209, 237, 237);
    margin: 0px auto;
  }
}


@media screen and (max-width:886px) {
  .header_burger {
    display: block;
    margin-left: 130px;
  }

  .header_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121618;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .header_nav_active {
    transform: translateX(0);

  }

  .header_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header_item:last-child {
    margin-bottom: 0;
  }

  .header_link {
    font-size: 42px;
    line-height: 48px;
  }

  .header_nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header_nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FAC564;
    position: absolute;
    top: 50%;

  }

  .header_nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header_nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .order {
    margin-bottom: 10px;
  }

  .button_menu {
    margin-right: 40px;
  }

  .intro_new {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
  }


  .menu_description {
    gap: 35px;
  }

  .gallery_menu {
    min-height: auto;
  }

  .footer_image {
    display: none;
  }


}

@media screen and (max-width:768px) {
  .footer_services_menu {
    padding-left: 30px;
  }

  .footer_head {
    font-size: 14px;
  }
}

/* 
@media screen and (min-width: 540px) {
  .wrapper {
    max-width: 910px;
  }

  .header_burger {
    margin-left: 130px;
  }

  .intro_main {
    display: block;
  }

  .intro_text,
  .intro_title,
  .intro_subtitle,
  .button_menu {
    margin-left: auto;
    margin-right: auto;
  }

  .intro_pic {
    display: block;
    width: 300px;
    height: 300px;
  }

  .intro_new {
    display: block;
    padding-left: 0px;
    background: none;
  }

  .gallery_cards {
    display: block;
  }
  .gallery_pic{
    margin: 20px auto;
  }
} */


/* media end */